.facilityList {
    border: 2px black solid;
    padding: 10px;
    margin: 10px;
    background-color: lightsteelblue;
}
.facilities {
    border: 2px black solid;
    padding: 10px;
    margin: 10px;
    background-color: lightsteelblue;
}
.facilitiesButton {
    border: 2px black solid;
    margin: 20px;
    padding: 10px;
    width: 250px;
    background-color: lightsteelblue;

}
.facilityContainer {
    display: flex;
    justify-content: center;
}
