@import "criminals.css";
@import "notes.css";
@import "witness.css";

body {
    text-align: center;
    background-color: lightgrey;
}
header {
    border: solid black 2px;
    padding: 10px;
    margin: 10px;
    background-color: powderblue;

}
.mainContent {
    display: flex;
    padding-top: 15px;
}

.containerRight {
    border: solid black 2px;
    padding: 10px;
    margin: 10px;
    flex: 3 3;
    background-color: cornsilk;
}
.noteListContainer {
    border: 2px black solid;
    flex: 1 1;
    background-color: cornsilk;
}