.noteListContainer {
    border: 2px black solid;
    flex: 1 1;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.noteFormContainer {
    border: black 2px solid;
    padding: 10px 30px 30px 30px;
    margin: 10px;
    text-align: center;
    background-color: lightsteelblue;

}
.note {
    border: 2px black solid;
    padding: 10px;
    margin: 10px;
    background-color: lightsteelblue;
}
aside {
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.oneNote {
    padding: 5px;
}
.formBoxes {
    padding: 5px;
}
.modal--parent {
    border: 2px black solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.associatesContainer {
    padding: 10px;
}
.noteButton {
    border: 2px black solid;
    padding: 10px;
    margin: 20px 10px 10px;
    background-color: lightsteelblue;
}